@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wenas, escucha nuestra canción c:</h1>
    <p>Da click y escucha <a href="https://open.spotify.com/track/3k3NWokhRRkEPhCzPmV8TW?si=2ecb61abf1294e69">en Spotify, mi amor</a>.</p>
</div>
