@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Primer test de Web App Azure</h1>
    <p>Prueba link externo a la app <a href="https://open.spotify.com/track/3k3NWokhRRkEPhCzPmV8TW?si=2ecb61abf1294e69">en Spotify</a>.</p>
    <button>Botón uno</button>
</div>
